@page "/"
@inject IJSRuntime JSRuntime

<div id="home-page-content">
	<div class="home-page-btn-wrapper">
		<button class="home-page-btn" onclick="window.location.href='/configure'">Play</button>
	</div>
	<div class="home-page-btn-wrapper">
		<button class="home-page-btn" onclick="window.location.href='/instructions'">Instructions</button>
	</div>
</div>

@code
{
	private void OnPlayClicked()
	{
		JSRuntime.InvokeVoidAsync("alert", "Let's play a game!");
	}
}